#algoritimo{
    color:aliceblue;
}
#h1{
    background-color: aliceblue;
    color:#ff00aa;
}
 body{
    background-color: black;
 }
 
 p{ 
    color:aliceblue;
    background-color: #ff00aa;
  }
  .programas{
    font-size:  20pt;
  }